

USE [MyLibrary]
GO
/****** Object:  Table [dbo].[AccessProfile]    Script Date: 10/09/2017 19:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccessProfile](
	[accProfilCode] [int] NOT NULL,
	[accProfileName] [varchar](20) NULL,
 CONSTRAINT [PK_AccessProfile] PRIMARY KEY CLUSTERED 
(
	[accProfilCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 10/09/2017 19:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[addId] [bigint] IDENTITY(1,1) NOT NULL,
	[cusResidId] [bigint] NOT NULL,
	[cusChargeId] [bigint] NOT NULL,
	[myLibraryId] [bigint] NULL,
	[addLabel] [varchar](255) NULL,
	[addFirstName] [varchar](50) NULL,
	[addLastName] [varchar](50) NULL,
	[addCompany] [varchar](50) NULL,
	[addNumber] [varchar](10) NULL,
	[addStreetType] [varchar](15) NULL,
	[addStreetName] [varchar](50) NULL,
	[addComplement] [varchar](50) NULL,
	[addZipCode] [varchar](10) NULL,
	[addCity] [varchar](50) NULL,
	[addSecurityCode] [varchar](50) NULL,
	[addPhone] [varchar](50) NULL,
 CONSTRAINT [pkaddId] PRIMARY KEY CLUSTERED 
(
	[addId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Association]    Script Date: 10/09/2017 19:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Association](
	[booIsbn13] [varchar](13) NOT NULL,
	[subId] [bigint] NOT NULL,
 CONSTRAINT [pkAssociationBookSubTheme] PRIMARY KEY CLUSTERED 
(
	[booIsbn13] ASC,
	[subId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Author]    Script Date: 10/09/2017 19:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Author](
	[autId] [bigint] IDENTITY(1,1) NOT NULL,
	[autLastName] [varchar](50) NOT NULL,
	[autFirstName] [varchar](50) NULL,
	[autBiography] [varchar](255) NULL,
	[autStatusCode] [tinyint] NULL,
 CONSTRAINT [pkAuthor] PRIMARY KEY CLUSTERED 
(
	[autId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 10/09/2017 19:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[booIsbn13] [varchar](13) NOT NULL,
	[vatCode] [int] NULL,
	[ediId] [int] NULL,
	[booTitle] [varchar](50) NOT NULL,
	[booSubtitle] [varchar](50) NULL,
	[booPublishYear] [varchar](50) NOT NULL,
	[booPriceHT] [float] NOT NULL,
	[booResume] [varchar](max) NULL,
	[booQuantity] [int] NULL,
	[booStatus] [tinyint] NOT NULL,
	[booFrontCover] [varchar](255) NULL,
	[booPageNumber] [int] NULL,
	[bookLangCode] [int] NULL,
 CONSTRAINT [pkBook] PRIMARY KEY CLUSTERED 
(
	[booIsbn13] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookLanguage]    Script Date: 10/09/2017 19:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookLanguage](
	[bookLangCode] [int] NOT NULL,
	[bookLangName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_BookLanguage] PRIMARY KEY CLUSTERED 
(
	[bookLangCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 10/09/2017 19:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[cusID] [bigint] IDENTITY(1978,1) NOT NULL,
	[cusGender] [nchar](10) NULL,
	[cusFirstName] [varchar](50) NOT NULL,
	[cusLastName] [varchar](50) NOT NULL,
	[cusOrginastionName] [varchar](50) NULL,
	[cusEmail] [varchar](50) NOT NULL,
	[cusPhoneNumber] [varchar](50) NULL,
	[cusDateOfBirth] [date] NULL,
	[cusPassword] [varchar](255) NOT NULL,
	[cusSalt] [varchar](255) NOT NULL,
	[cusIP] [varchar](50) NULL,
	[cusStatus] [bit] NOT NULL,
	[cusComment] [varchar](255) NULL,
 CONSTRAINT [pkCustomer] PRIMARY KEY CLUSTERED 
(
	[cusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Definitions]    Script Date: 10/09/2017 19:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Definitions](
	[keyName] [varchar](50) NOT NULL,
	[booIsbn13] [varchar](13) NOT NULL,
 CONSTRAINT [pkDefKeyNameBooIsbn13] PRIMARY KEY CLUSTERED 
(
	[keyName] ASC,
	[booIsbn13] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Determinate]    Script Date: 10/09/2017 19:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Determinate](
	[staCode] [int] NOT NULL,
	[purId] [bigint] NOT NULL,
	[detTime] [datetime] NOT NULL,
 CONSTRAINT [pkDeterminate] PRIMARY KEY CLUSTERED 
(
	[staCode] ASC,
	[purId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Editor]    Script Date: 10/09/2017 19:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Editor](
	[ediId] [int] IDENTITY(1,1) NOT NULL,
	[ediName] [varchar](50) NOT NULL,
	[ediPresentation] [varchar](255) NULL,
	[ediStatusCode] [tinyint] NOT NULL,
 CONSTRAINT [PK_Editor] PRIMARY KEY CLUSTERED 
(
	[ediId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 10/09/2017 19:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[empId] [bigint] IDENTITY(1,1) NOT NULL,
	[empFirstName] [varchar](50) NOT NULL,
	[empLastName] [varchar](50) NOT NULL,
	[empLogin] [varchar](50) NOT NULL,
	[empPassword] [varchar](255) NOT NULL,
	[empSalt] [varchar](255) NOT NULL,
	[empDateStart] [date] NOT NULL,
	[empDateEnd] [date] NULL,
	[empStatus] [bit] NOT NULL,
	[empComment] [varchar](255) NULL,
 CONSTRAINT [pkEmployee] PRIMARY KEY CLUSTERED 
(
	[empId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Formats]    Script Date: 10/09/2017 19:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Formats](
	[forName] [varchar](50) NOT NULL,
 CONSTRAINT [pkFormats] PRIMARY KEY CLUSTERED 
(
	[forName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GettingAccess]    Script Date: 10/09/2017 19:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GettingAccess](
	[empId] [bigint] NOT NULL,
	[accProfilCode] [int] NOT NULL,
	[getStartDate] [datetime] NULL,
	[getEndDate] [datetime] NULL,
 CONSTRAINT [pkgetAccess] PRIMARY KEY CLUSTERED 
(
	[empId] ASC,
	[accProfilCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Have]    Script Date: 10/09/2017 19:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Have](
	[offId] [bigint] NOT NULL,
	[booIsbn13] [varchar](13) NOT NULL,
 CONSTRAINT [pkHave] PRIMARY KEY CLUSTERED 
(
	[offId] ASC,
	[booIsbn13] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Keywords]    Script Date: 10/09/2017 19:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Keywords](
	[keyName] [varchar](50) NOT NULL,
 CONSTRAINT [pkKeywords] PRIMARY KEY CLUSTERED 
(
	[keyName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MyLibrary]    Script Date: 10/09/2017 19:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MyLibrary](
	[myLibId] [bigint] IDENTITY(1,1) NOT NULL,
	[myLibName] [varchar](50) NOT NULL,
	[myLibLogo] [varchar](255) NULL,
	[myLibEmail] [varchar](50) NULL,
	[myLibPhone] [varchar](20) NULL,
	[myLibSiret] [varchar](14) NULL,
	[myLibCGU] [varchar](max) NULL,
 CONSTRAINT [pkMyLibId] PRIMARY KEY CLUSTERED 
(
	[myLibId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Offer]    Script Date: 10/09/2017 19:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Offer](
	[offId] [bigint] IDENTITY(1,1) NOT NULL,
	[offName] [varchar](50) NOT NULL,
	[offText] [varchar](255) NULL,
	[offDateStart] [datetime] NOT NULL,
	[offDateEnd] [datetime] NULL,
	[offDiscount] [float] NULL,
	[offPicture] [varchar](255) NULL,
 CONSTRAINT [pkOffer] PRIMARY KEY CLUSTERED 
(
	[offId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderLine]    Script Date: 10/09/2017 19:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderLine](
	[ordLineId] [int] IDENTITY(1,1) NOT NULL,
	[purId] [bigint] NULL,
	[booIsbn13] [varchar](13) NULL,
	[ordLineQuantity] [int] NOT NULL,
	[ordBookPriceHT] [float] NOT NULL,
	[ordBookVAT] [float] NOT NULL,
 CONSTRAINT [pkOrderLine] PRIMARY KEY CLUSTERED 
(
	[ordLineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatus]    Script Date: 10/09/2017 19:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatus](
	[staCode] [int] NOT NULL,
	[staName] [varchar](50) NULL,
 CONSTRAINT [PK_OrderStatus] PRIMARY KEY CLUSTERED 
(
	[staCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 10/09/2017 19:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[payId] [int] NOT NULL,
	[purId] [bigint] NOT NULL,
	[payValidate] [bit] NULL,
	[payChoice] [varchar](50) NULL,
	[payDate] [datetime] NULL,
 CONSTRAINT [pkpayId] PRIMARY KEY CLUSTERED 
(
	[payId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Possession]    Script Date: 10/09/2017 19:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Possession](
	[forName] [varchar](50) NOT NULL,
	[booIsbn13] [varchar](13) NOT NULL,
 CONSTRAINT [pkPossForNameBooIsbn13] PRIMARY KEY CLUSTERED 
(
	[forName] ASC,
	[booIsbn13] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Purchase]    Script Date: 10/09/2017 19:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purchase](
	[purId] [bigint] IDENTITY(57231,1) NOT NULL,
	[cusId] [bigint] NOT NULL,
	[shippingCostId] [bigint] NOT NULL,
	[addDeliveryId] [bigint] NOT NULL,
	[addInvoiceId] [bigint] NOT NULL,
	[purIP] [varchar](50) NULL,
	[shippingDate] [datetime] NULL,
	[shippingNumber] [bigint] NULL,
 CONSTRAINT [pkpurId] PRIMARY KEY CLUSTERED 
(
	[purId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 10/09/2017 19:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[revId] [bigint] IDENTITY(1,1) NOT NULL,
	[cusId] [bigint] NOT NULL,
	[booIsbn13] [varchar](13) NOT NULL,
	[ordLineId] [int] NOT NULL,
	[revNote] [float] NULL,
	[revComment] [varchar](255) NULL,
	[revDate] [datetime] NULL,
	[revIP] [varchar](50) NULL,
 CONSTRAINT [pkreview] PRIMARY KEY CLUSTERED 
(
	[revId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipper]    Script Date: 10/09/2017 19:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipper](
	[ShipperId] [bigint] IDENTITY(1,1) NOT NULL,
	[ShipperName] [varchar](50) NOT NULL,
 CONSTRAINT [pkShipper] PRIMARY KEY CLUSTERED 
(
	[ShipperId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShippingCost]    Script Date: 10/09/2017 19:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShippingCost](
	[shipId] [bigint] IDENTITY(1,1) NOT NULL,
	[shipperId] [bigint] NULL,
	[shipName] [varchar](50) NOT NULL,
	[shipCost] [float] NOT NULL,
 CONSTRAINT [pkShippingCost] PRIMARY KEY CLUSTERED 
(
	[shipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusDisplay]    Script Date: 10/09/2017 19:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusDisplay](
	[staCode] [int] NOT NULL,
	[staName] [varchar](50) NULL,
 CONSTRAINT [PK_dbo.StatusDisplay] PRIMARY KEY CLUSTERED 
(
	[staCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubTheme]    Script Date: 10/09/2017 19:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubTheme](
	[subId] [bigint] IDENTITY(1,1) NOT NULL,
	[theId] [bigint] NULL,
	[subName] [varchar](50) NOT NULL,
	[subDescription] [varchar](255) NULL,
 CONSTRAINT [pkSubTheme] PRIMARY KEY CLUSTERED 
(
	[subId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Theme]    Script Date: 10/09/2017 19:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Theme](
	[theId] [bigint] IDENTITY(1,1) NOT NULL,
	[theName] [varchar](50) NOT NULL,
	[theDescription] [varchar](255) NULL,
 CONSTRAINT [pkTheme] PRIMARY KEY CLUSTERED 
(
	[theId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vat]    Script Date: 10/09/2017 19:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vat](
	[vatCode] [int] NOT NULL,
	[vatRate] [float] NOT NULL,
	[vatName] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Vat] PRIMARY KEY CLUSTERED 
(
	[vatCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Writing]    Script Date: 10/09/2017 19:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Writing](
	[booIsbn13] [varchar](13) NOT NULL,
	[autId] [bigint] NOT NULL,
 CONSTRAINT [pkWriting] PRIMARY KEY CLUSTERED 
(
	[booIsbn13] ASC,
	[autId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AccessProfile] ([accProfilCode], [accProfileName]) VALUES (0, N'No Access')
INSERT [dbo].[AccessProfile] ([accProfilCode], [accProfileName]) VALUES (1, N'Administrateur
')
INSERT [dbo].[AccessProfile] ([accProfilCode], [accProfileName]) VALUES (2, N'Acces Editeur
')
SET IDENTITY_INSERT [dbo].[Address] ON 

INSERT [dbo].[Address] ([addId], [cusResidId], [cusChargeId], [myLibraryId], [addLabel], [addFirstName], [addLastName], [addCompany], [addNumber], [addStreetType], [addStreetName], [addComplement], [addZipCode], [addCity], [addSecurityCode], [addPhone]) VALUES (0, 1978, 1978, 0, NULL, NULL, NULL, NULL, N'1', N'avenue', N'de Paris', NULL, N'75012', N'PARIS', NULL, N'08 15 45 64 76 
')
INSERT [dbo].[Address] ([addId], [cusResidId], [cusChargeId], [myLibraryId], [addLabel], [addFirstName], [addLastName], [addCompany], [addNumber], [addStreetType], [addStreetName], [addComplement], [addZipCode], [addCity], [addSecurityCode], [addPhone]) VALUES (1, 1981, 1981, 0, N'Adresse Maison
', N'Percy
', N'Lizotte
', NULL, N'1', N'avenue', N'de Marseille', NULL, N'75014', N'PARIS', NULL, N'06 15 78 45 65')
INSERT [dbo].[Address] ([addId], [cusResidId], [cusChargeId], [myLibraryId], [addLabel], [addFirstName], [addLastName], [addCompany], [addNumber], [addStreetType], [addStreetName], [addComplement], [addZipCode], [addCity], [addSecurityCode], [addPhone]) VALUES (2, 1981, 1981, 0, N'Adresse Travail
', N'Percy
', N'Lizotte
', N'Gallenkamp
', N'1
', N'avenue', N'de Lyon', NULL, N'75014', N'PARIS', NULL, N'06 46 48 45 46')
SET IDENTITY_INSERT [dbo].[Address] OFF
INSERT [dbo].[Association] ([booIsbn13], [subId]) VALUES (N'9782226328717', 8)
INSERT [dbo].[Association] ([booIsbn13], [subId]) VALUES (N'9782226393197', 3)
INSERT [dbo].[Association] ([booIsbn13], [subId]) VALUES (N'9782226393197', 4)
SET IDENTITY_INSERT [dbo].[Author] ON 

INSERT [dbo].[Author] ([autId], [autLastName], [autFirstName], [autBiography], [autStatusCode]) VALUES (1, N'Nothomb
', N'Amélie
', N'Amélie Nothom, nom de plume de Fabienne Claire, baronne Nothomb, née le 9 juillet 1966 à Etterbeek, Bruxelles, est une romancière belge d''expression française.
', 1)
INSERT [dbo].[Author] ([autId], [autLastName], [autFirstName], [autBiography], [autStatusCode]) VALUES (2, N'Whitehead
', N'Colson', N'Colson Whitehead (son nom complet est Arch Colson Chipp Whitehead), né le 6 novembre 1969 à New York, est un romancier américain.
', 1)
INSERT [dbo].[Author] ([autId], [autLastName], [autFirstName], [autBiography], [autStatusCode]) VALUES (3, N'Horn
', N'Mike', N'Mike Horn (Michael Frédérick Horn), né le 16 juillet 1966 (51 ans) à Johannesbourg (Afrique du Sud), est un explorateur-aventurier de nationalité suisse et sud-africaine, de culture afrikaner, résidant en Suisse.
', 1)
SET IDENTITY_INSERT [dbo].[Author] OFF
INSERT [dbo].[Book] ([booIsbn13], [vatCode], [ediId], [booTitle], [booSubtitle], [booPublishYear], [booPriceHT], [booResume], [booQuantity], [booStatus], [booFrontCover], [booPageNumber], [bookLangCode]) VALUES (N'9781444799132', 0, 5, N'The whistler', NULL, N'2014', 7.55, NULL, 26, 0, N'images\cover\17.png', 384, 1)
INSERT [dbo].[BookLanguage] ([bookLangCode], [bookLangName]) VALUES (0, N'Allemand
')
INSERT [dbo].[BookLanguage] ([bookLangCode], [bookLangName]) VALUES (1, N'Anglais
')
INSERT [dbo].[BookLanguage] ([bookLangCode], [bookLangName]) VALUES (2, N'Arabe
')
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([cusID], [cusGender], [cusFirstName], [cusLastName], [cusOrginastionName], [cusEmail], [cusPhoneNumber], [cusDateOfBirth], [cusPassword], [cusSalt], [cusIP], [cusStatus], [cusComment]) VALUES (1978, NULL, N'Caroline Librairie', N'Caroline Librairie', NULL, N'caroline@serviceClientCaroline.com
', NULL, NULL, N'78E3C64B4D869D2A2D9FD36A6DEE0E3FCE4415CF792894D7CB7777DBA9FFC7EABFE96788B5F4E55F8349A983CB99F200C1CD50FF035E496EFB162E733BD8554B', N'jnmh5n6e3efiopckgd47n1gdef', NULL, 0, N'caroline librairie / pwd : caroline')
INSERT [dbo].[Customer] ([cusID], [cusGender], [cusFirstName], [cusLastName], [cusOrginastionName], [cusEmail], [cusPhoneNumber], [cusDateOfBirth], [cusPassword], [cusSalt], [cusIP], [cusStatus], [cusComment]) VALUES (1979, N'F
       ', N'Sauvé
', N'Clarimunda
', N'Solid Future
', N'ClarimundaSauve@armyspy.com
', N'01 46 00 29 13
', CAST(N'1963-09-16' AS Date), N'FCB903F0BD8B15BE57F70F13F8B29E365177ACC1691EB51D3EE568F2D1A3956461DE3E8A76286C254B418A0A2B4DC678D542F6BCF8F71906BA48306254DAF86F', N'vs6saem5qmjn17c28qotqvqeu6', N'"117.153.221.193
"
', 0, N'pwd : "iNaNosh5h
"
')
INSERT [dbo].[Customer] ([cusID], [cusGender], [cusFirstName], [cusLastName], [cusOrginastionName], [cusEmail], [cusPhoneNumber], [cusDateOfBirth], [cusPassword], [cusSalt], [cusIP], [cusStatus], [cusComment]) VALUES (1980, N'F
       ', N'Olympia 
', N' Dubé
', N'Coon Chicken Inn
', N'OlympiaDube@armyspy.com
', N'05 64 60 12 28
', CAST(N'1982-05-19' AS Date), N'CFF21837BCAC99C9AC76925AF05E8F3E2249228C362BC33B072BB836ACF8AD56AE037A061696EE609F7E51128E143E34987B1447B0CA99D45319F34BC2984EC9', N'soijuil0c58ijcbno2k6i4aglb', N'159.157.196.44
', 1, N'pwd : Gemee9evah')
SET IDENTITY_INSERT [dbo].[Customer] OFF
INSERT [dbo].[Definitions] ([keyName], [booIsbn13]) VALUES (N'accident
', N'9782266276542')
INSERT [dbo].[Definitions] ([keyName], [booIsbn13]) VALUES (N'bonheur
', N'9782747082600')
INSERT [dbo].[Definitions] ([keyName], [booIsbn13]) VALUES (N'Brésil
', N'9782266130288')
INSERT [dbo].[Determinate] ([staCode], [purId], [detTime]) VALUES (1, 57232, CAST(N'2017-08-16T01:00:00.000' AS DateTime))
INSERT [dbo].[Determinate] ([staCode], [purId], [detTime]) VALUES (1, 57233, CAST(N'2017-08-17T02:00:00.000' AS DateTime))
INSERT [dbo].[Determinate] ([staCode], [purId], [detTime]) VALUES (1, 57234, CAST(N'2017-08-18T15:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Editor] ON 

INSERT [dbo].[Editor] ([ediId], [ediName], [ediPresentation], [ediStatusCode]) VALUES (1, N'Albin Michel', N'Depuis 1992, Albin Michel publie environ 450 nouveautés par an (pour 100 en 1967). Quatrième groupe d''édition français, ses auteurs se classent régulièrement parmi les meilleures ventes', 1)
INSERT [dbo].[Editor] ([ediId], [ediName], [ediPresentation], [ediStatusCode]) VALUES (2, N'Bayard Jeunesse
', N'Bayard est un groupe de presse français créé en 1873, juste après la guerre franco-prussienne de 1870, par le père Emmanuel d''Alzon (1810/1880).', 1)
INSERT [dbo].[Editor] ([ediId], [ediName], [ediPresentation], [ediStatusCode]) VALUES (3, N'First Interactive 
', N'Editis est un groupe d''édition français constitué en janvier 2004 et appartenant à Grupo Planeta (Espagne).', 1)
SET IDENTITY_INSERT [dbo].[Editor] OFF
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([empId], [empFirstName], [empLastName], [empLogin], [empPassword], [empSalt], [empDateStart], [empDateEnd], [empStatus], [empComment]) VALUES (1, N'Grenier
', N'Julie', N'Beas1995
', N'0E21235B8469A079129C602ADBD02CF222FB176345D14ECFAD242277837B68E6155F4304F2F62B95B03B5E00CFAE198F1E27256D8E860AB597A394194290261C', N'4cb4qr1dqvbg93o9fdd1h1sgc5', CAST(N'1995-06-30' AS Date), NULL, 1, N'pwd : peP6oon0aith
')
INSERT [dbo].[Employee] ([empId], [empFirstName], [empLastName], [empLogin], [empPassword], [empSalt], [empDateStart], [empDateEnd], [empStatus], [empComment]) VALUES (2, N'Cantin', N'Anne', N'Waintassitan
', N'4A22BF5653726325BB4B78C01FE24A1EE41321F0ACFDD7D599E31562B1E66980857A46B4F374D96391C405A1B53531A09884552CCF191D7A34CAACB9A8DBFEE0', N'5q9he92etk7rf56trg1t6tud6s', CAST(N'1999-05-02' AS Date), NULL, 1, N'pwd : ahloZ7eew1ie
')
INSERT [dbo].[Employee] ([empId], [empFirstName], [empLastName], [empLogin], [empPassword], [empSalt], [empDateStart], [empDateEnd], [empStatus], [empComment]) VALUES (3, N'Goudreau
', N'Brice', N'Forcive
', N'3A3EB3988DDA527DD30D2C383524380B0BD92EABA19CE80758EB4EA9AD517D9A5AE21853D7CC0BDC1C603D5B55920DA93114A2C484CEA6ACFE6840D46B8C3B55', N'litagk6240e94aed88f7fim385', CAST(N'1997-12-05' AS Date), NULL, 1, N'pwd : aicaG4ree5
')
SET IDENTITY_INSERT [dbo].[Employee] OFF
INSERT [dbo].[Formats] ([forName]) VALUES (N'Grand Carré 30x30cm
')
INSERT [dbo].[Formats] ([forName]) VALUES (N'Grand Poche 13x20cm
')
INSERT [dbo].[Formats] ([forName]) VALUES (N'Grand Poche 15x23cm
')
INSERT [dbo].[Have] ([offId], [booIsbn13]) VALUES (2, N'9782226328717')
INSERT [dbo].[Have] ([offId], [booIsbn13]) VALUES (2, N'9782253083276')
INSERT [dbo].[Have] ([offId], [booIsbn13]) VALUES (2, N'9782290138922')
INSERT [dbo].[Keywords] ([keyName]) VALUES (N'accident
')
INSERT [dbo].[Keywords] ([keyName]) VALUES (N'amour
')
INSERT [dbo].[Keywords] ([keyName]) VALUES (N'bonheur
')
SET IDENTITY_INSERT [dbo].[MyLibrary] ON 

INSERT [dbo].[MyLibrary] ([myLibId], [myLibName], [myLibLogo], [myLibEmail], [myLibPhone], [myLibSiret], [myLibCGU]) VALUES (0, N'Caroline
', N'images\logo\logo.png
', N'caroline@serviceClientCaroline.com
', N'08 15 45 64 76', N'37900632300016', N'docs\cgu.txt
')
SET IDENTITY_INSERT [dbo].[MyLibrary] OFF
SET IDENTITY_INSERT [dbo].[Offer] ON 

INSERT [dbo].[Offer] ([offId], [offName], [offText], [offDateStart], [offDateEnd], [offDiscount], [offPicture]) VALUES (1, N'Rentree scolaire 2017
', N'Les essentiels de la rentrée scolaire 2017
', CAST(N'2017-08-28T00:00:00.000' AS DateTime), CAST(N'2017-09-25T00:00:00.000' AS DateTime), 5, N'images\events\0.png
')
INSERT [dbo].[Offer] ([offId], [offName], [offText], [offDateStart], [offDateEnd], [offDiscount], [offPicture]) VALUES (2, N'Salon du livre
', N'Le plus grand évènement du livre en France
', CAST(N'2017-03-16T00:00:00.000' AS DateTime), CAST(N'2017-03-19T00:00:00.000' AS DateTime), 5, N'images\events\1.png
')
INSERT [dbo].[Offer] ([offId], [offName], [offText], [offDateStart], [offDateEnd], [offDiscount], [offPicture]) VALUES (3, N'Stephen King, invité d''honneur
', N'L''essentiel des romans de Stephen King
', CAST(N'2017-09-07T00:00:00.000' AS DateTime), CAST(N'2017-10-25T00:00:00.000' AS DateTime), 5, N'images\events\3.png
')
SET IDENTITY_INSERT [dbo].[Offer] OFF
SET IDENTITY_INSERT [dbo].[OrderLine] ON 

INSERT [dbo].[OrderLine] ([ordLineId], [purId], [booIsbn13], [ordLineQuantity], [ordBookPriceHT], [ordBookVAT]) VALUES (2, 57232, N'9782226399168', 2, 15.97, 5.5)
INSERT [dbo].[OrderLine] ([ordLineId], [purId], [booIsbn13], [ordLineQuantity], [ordBookPriceHT], [ordBookVAT]) VALUES (3, 57232, N'9782290138922', 1, 8.9, 5.5)
INSERT [dbo].[OrderLine] ([ordLineId], [purId], [booIsbn13], [ordLineQuantity], [ordBookPriceHT], [ordBookVAT]) VALUES (7, 57232, N'9782290152331', 3, 7.56, 5.5)
SET IDENTITY_INSERT [dbo].[OrderLine] OFF
INSERT [dbo].[OrderStatus] ([staCode], [staName]) VALUES (1, N'Commandé')
INSERT [dbo].[OrderStatus] ([staCode], [staName]) VALUES (2, N'Expédié')
INSERT [dbo].[OrderStatus] ([staCode], [staName]) VALUES (3, N'Livré')
INSERT [dbo].[Payment] ([payId], [purId], [payValidate], [payChoice], [payDate]) VALUES (1, 57232, 1, N'carte Bancaire', CAST(N'2017-08-16T01:00:00.000' AS DateTime))
INSERT [dbo].[Payment] ([payId], [purId], [payValidate], [payChoice], [payDate]) VALUES (2, 57233, 1, N'carte Bancaire', CAST(N'2017-08-17T02:00:00.000' AS DateTime))
INSERT [dbo].[Payment] ([payId], [purId], [payValidate], [payChoice], [payDate]) VALUES (3, 57234, 1, N'carte Bancaire', CAST(N'2017-08-18T15:00:00.000' AS DateTime))
INSERT [dbo].[Possession] ([forName], [booIsbn13]) VALUES (N'Grand Poche 13x20cm
', N'9782226328717')
INSERT [dbo].[Possession] ([forName], [booIsbn13]) VALUES (N'Grand Poche 13x20cm
', N'9782226393197')
INSERT [dbo].[Possession] ([forName], [booIsbn13]) VALUES (N'Grand Poche 13x20cm
', N'9782226399168')
SET IDENTITY_INSERT [dbo].[Purchase] ON 

INSERT [dbo].[Purchase] ([purId], [cusId], [shippingCostId], [addDeliveryId], [addInvoiceId], [purIP], [shippingDate], [shippingNumber]) VALUES (57232, 1981, 1, 1, 2, N'207.105.185.229
', CAST(N'2017-08-24T15:30:00.000' AS DateTime), 15006)
INSERT [dbo].[Purchase] ([purId], [cusId], [shippingCostId], [addDeliveryId], [addInvoiceId], [purIP], [shippingDate], [shippingNumber]) VALUES (57233, 1981, 1, 1, 1, N'207.105.185.229

', NULL, NULL)
INSERT [dbo].[Purchase] ([purId], [cusId], [shippingCostId], [addDeliveryId], [addInvoiceId], [purIP], [shippingDate], [shippingNumber]) VALUES (57234, 1982, 1, 3, 3, N'80.29.91.9', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Purchase] OFF
SET IDENTITY_INSERT [dbo].[Review] ON 

INSERT [dbo].[Review] ([revId], [cusId], [booIsbn13], [ordLineId], [revNote], [revComment], [revDate], [revIP]) VALUES (2, 1981, N'9782226399168', 2, 2, N'situation connue douloureuse mais exprimée tellement de façon juste mais je le trouve trop court Sourire
', CAST(N'2017-08-20T00:00:00.000' AS DateTime), N'207.105.185.229

')
INSERT [dbo].[Review] ([revId], [cusId], [booIsbn13], [ordLineId], [revNote], [revComment], [revDate], [revIP]) VALUES (3, 1981, N'9782290138922', 3, 3, N'Super livre, à lire avant d''aller voir le film au ciné', CAST(N'2017-08-20T00:00:00.000' AS DateTime), N'207.105.185.229
')
INSERT [dbo].[Review] ([revId], [cusId], [booIsbn13], [ordLineId], [revNote], [revComment], [revDate], [revIP]) VALUES (4, 1981, N'9782290152331', 7, 5, N'j''ai achete ce livre il y a 2 semaines, deja fini', CAST(N'2017-08-20T00:00:00.000' AS DateTime), N'207.105.185.229
')
SET IDENTITY_INSERT [dbo].[Review] OFF
SET IDENTITY_INSERT [dbo].[Shipper] ON 

INSERT [dbo].[Shipper] ([ShipperId], [ShipperName]) VALUES (1, N'UPS')
INSERT [dbo].[Shipper] ([ShipperId], [ShipperName]) VALUES (2, N'La Poste')
INSERT [dbo].[Shipper] ([ShipperId], [ShipperName]) VALUES (3, N'TNT')
SET IDENTITY_INSERT [dbo].[Shipper] OFF
SET IDENTITY_INSERT [dbo].[ShippingCost] ON 

INSERT [dbo].[ShippingCost] ([shipId], [shipperId], [shipName], [shipCost]) VALUES (1, 1, N'Livraison Standard', 4.5)
INSERT [dbo].[ShippingCost] ([shipId], [shipperId], [shipName], [shipCost]) VALUES (2, 2, N'Livraison Standard', 4.5)
INSERT [dbo].[ShippingCost] ([shipId], [shipperId], [shipName], [shipCost]) VALUES (3, 3, N'Livraison Standard', 4.5)
SET IDENTITY_INSERT [dbo].[ShippingCost] OFF
INSERT [dbo].[StatusDisplay] ([staCode], [staName]) VALUES (0, N'Actif')
INSERT [dbo].[StatusDisplay] ([staCode], [staName]) VALUES (1, N'Inactif')
SET IDENTITY_INSERT [dbo].[SubTheme] ON 

INSERT [dbo].[SubTheme] ([subId], [theId], [subName], [subDescription]) VALUES (1, 1, N'bd & humour
', NULL)
INSERT [dbo].[SubTheme] ([subId], [theId], [subName], [subDescription]) VALUES (2, 1, N'manga
', NULL)
INSERT [dbo].[SubTheme] ([subId], [theId], [subName], [subDescription]) VALUES (3, 1, N'livre jeunesse
', NULL)
SET IDENTITY_INSERT [dbo].[SubTheme] OFF
SET IDENTITY_INSERT [dbo].[Theme] ON 

INSERT [dbo].[Theme] ([theId], [theName], [theDescription]) VALUES (0, N'Inclassable', NULL)
INSERT [dbo].[Theme] ([theId], [theName], [theDescription]) VALUES (1, N'bd & jeunesse', NULL)
INSERT [dbo].[Theme] ([theId], [theName], [theDescription]) VALUES (2, N'littérature & fiction', NULL)
SET IDENTITY_INSERT [dbo].[Theme] OFF
INSERT [dbo].[Vat] ([vatCode], [vatRate], [vatName]) VALUES (0, 5.5, N'%')
INSERT [dbo].[Vat] ([vatCode], [vatRate], [vatName]) VALUES (1, 20, N'%')
INSERT [dbo].[Writing] ([booIsbn13], [autId]) VALUES (N'9781444799132', 15)
INSERT [dbo].[Writing] ([booIsbn13], [autId]) VALUES (N'9782226328717', 4)
INSERT [dbo].[Writing] ([booIsbn13], [autId]) VALUES (N'9782226393197', 2)
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [fkCusChargeId] FOREIGN KEY([cusChargeId])
REFERENCES [dbo].[Customer] ([cusID])
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [fkCusChargeId]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [fkCusResidId] FOREIGN KEY([cusResidId])
REFERENCES [dbo].[Customer] ([cusID])
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [fkCusResidId]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [fkmyLibraryId] FOREIGN KEY([myLibraryId])
REFERENCES [dbo].[MyLibrary] ([myLibId])
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [fkmyLibraryId]
GO
ALTER TABLE [dbo].[Association]  WITH CHECK ADD  CONSTRAINT [fkBooAsso] FOREIGN KEY([booIsbn13])
REFERENCES [dbo].[Book] ([booIsbn13])
GO
ALTER TABLE [dbo].[Association] CHECK CONSTRAINT [fkBooAsso]
GO
ALTER TABLE [dbo].[Association]  WITH CHECK ADD  CONSTRAINT [fkBooSubT] FOREIGN KEY([subId])
REFERENCES [dbo].[SubTheme] ([subId])
GO
ALTER TABLE [dbo].[Association] CHECK CONSTRAINT [fkBooSubT]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [fkBooEdi] FOREIGN KEY([ediId])
REFERENCES [dbo].[Editor] ([ediId])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [fkBooEdi]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [fkBooLang] FOREIGN KEY([bookLangCode])
REFERENCES [dbo].[BookLanguage] ([bookLangCode])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [fkBooLang]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [fkBooVat] FOREIGN KEY([vatCode])
REFERENCES [dbo].[Vat] ([vatCode])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [fkBooVat]
GO
ALTER TABLE [dbo].[Definitions]  WITH CHECK ADD  CONSTRAINT [fkBooIsbn13] FOREIGN KEY([booIsbn13])
REFERENCES [dbo].[Book] ([booIsbn13])
GO
ALTER TABLE [dbo].[Definitions] CHECK CONSTRAINT [fkBooIsbn13]
GO
ALTER TABLE [dbo].[Definitions]  WITH CHECK ADD  CONSTRAINT [fkKeyName] FOREIGN KEY([keyName])
REFERENCES [dbo].[Keywords] ([keyName])
GO
ALTER TABLE [dbo].[Definitions] CHECK CONSTRAINT [fkKeyName]
GO
ALTER TABLE [dbo].[Determinate]  WITH CHECK ADD  CONSTRAINT [fkDeterminatePurId] FOREIGN KEY([purId])
REFERENCES [dbo].[Purchase] ([purId])
GO
ALTER TABLE [dbo].[Determinate] CHECK CONSTRAINT [fkDeterminatePurId]
GO
ALTER TABLE [dbo].[Determinate]  WITH CHECK ADD  CONSTRAINT [fkDeterminateStaId] FOREIGN KEY([staCode])
REFERENCES [dbo].[OrderStatus] ([staCode])
GO
ALTER TABLE [dbo].[Determinate] CHECK CONSTRAINT [fkDeterminateStaId]
GO
ALTER TABLE [dbo].[GettingAccess]  WITH CHECK ADD  CONSTRAINT [fkAccessProEmploye] FOREIGN KEY([empId])
REFERENCES [dbo].[Employee] ([empId])
GO
ALTER TABLE [dbo].[GettingAccess] CHECK CONSTRAINT [fkAccessProEmploye]
GO
ALTER TABLE [dbo].[GettingAccess]  WITH CHECK ADD  CONSTRAINT [fkAccessProfil] FOREIGN KEY([accProfilCode])
REFERENCES [dbo].[AccessProfile] ([accProfilCode])
GO
ALTER TABLE [dbo].[GettingAccess] CHECK CONSTRAINT [fkAccessProfil]
GO
ALTER TABLE [dbo].[Have]  WITH CHECK ADD  CONSTRAINT [fkBooHave] FOREIGN KEY([booIsbn13])
REFERENCES [dbo].[Book] ([booIsbn13])
GO
ALTER TABLE [dbo].[Have] CHECK CONSTRAINT [fkBooHave]
GO
ALTER TABLE [dbo].[Have]  WITH CHECK ADD  CONSTRAINT [fkOfferHave] FOREIGN KEY([offId])
REFERENCES [dbo].[Offer] ([offId])
GO
ALTER TABLE [dbo].[Have] CHECK CONSTRAINT [fkOfferHave]
GO
ALTER TABLE [dbo].[OrderLine]  WITH CHECK ADD  CONSTRAINT [fkBookIsbn13] FOREIGN KEY([booIsbn13])
REFERENCES [dbo].[Book] ([booIsbn13])
GO
ALTER TABLE [dbo].[OrderLine] CHECK CONSTRAINT [fkBookIsbn13]
GO
ALTER TABLE [dbo].[OrderLine]  WITH CHECK ADD  CONSTRAINT [fkPurchaseId] FOREIGN KEY([purId])
REFERENCES [dbo].[Purchase] ([purId])
GO
ALTER TABLE [dbo].[OrderLine] CHECK CONSTRAINT [fkPurchaseId]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [fkPurId] FOREIGN KEY([purId])
REFERENCES [dbo].[Purchase] ([purId])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [fkPurId]
GO
ALTER TABLE [dbo].[Possession]  WITH CHECK ADD  CONSTRAINT [fkBookIsbn] FOREIGN KEY([booIsbn13])
REFERENCES [dbo].[Book] ([booIsbn13])
GO
ALTER TABLE [dbo].[Possession] CHECK CONSTRAINT [fkBookIsbn]
GO
ALTER TABLE [dbo].[Possession]  WITH CHECK ADD  CONSTRAINT [fkFormatName] FOREIGN KEY([forName])
REFERENCES [dbo].[Formats] ([forName])
GO
ALTER TABLE [dbo].[Possession] CHECK CONSTRAINT [fkFormatName]
GO
ALTER TABLE [dbo].[Purchase]  WITH CHECK ADD  CONSTRAINT [fkAddDeliveryId] FOREIGN KEY([addDeliveryId])
REFERENCES [dbo].[Address] ([addId])
GO
ALTER TABLE [dbo].[Purchase] CHECK CONSTRAINT [fkAddDeliveryId]
GO
ALTER TABLE [dbo].[Purchase]  WITH CHECK ADD  CONSTRAINT [fkAddInvoiceId] FOREIGN KEY([addInvoiceId])
REFERENCES [dbo].[Address] ([addId])
GO
ALTER TABLE [dbo].[Purchase] CHECK CONSTRAINT [fkAddInvoiceId]
GO
ALTER TABLE [dbo].[Purchase]  WITH CHECK ADD  CONSTRAINT [fkCusId] FOREIGN KEY([cusId])
REFERENCES [dbo].[Customer] ([cusID])
GO
ALTER TABLE [dbo].[Purchase] CHECK CONSTRAINT [fkCusId]
GO
ALTER TABLE [dbo].[Purchase]  WITH CHECK ADD  CONSTRAINT [fkShippingCostId] FOREIGN KEY([shippingCostId])
REFERENCES [dbo].[ShippingCost] ([shipId])
GO
ALTER TABLE [dbo].[Purchase] CHECK CONSTRAINT [fkShippingCostId]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [fkCusReview] FOREIGN KEY([cusId])
REFERENCES [dbo].[Customer] ([cusID])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [fkCusReview]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [fkOrdLinReview] FOREIGN KEY([ordLineId])
REFERENCES [dbo].[OrderLine] ([ordLineId])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [fkOrdLinReview]
GO
ALTER TABLE [dbo].[ShippingCost]  WITH CHECK ADD  CONSTRAINT [fkShipperId] FOREIGN KEY([shipperId])
REFERENCES [dbo].[Shipper] ([ShipperId])
GO
ALTER TABLE [dbo].[ShippingCost] CHECK CONSTRAINT [fkShipperId]
GO
ALTER TABLE [dbo].[SubTheme]  WITH CHECK ADD  CONSTRAINT [fkTheme] FOREIGN KEY([theId])
REFERENCES [dbo].[Theme] ([theId])
GO
ALTER TABLE [dbo].[SubTheme] CHECK CONSTRAINT [fkTheme]
GO
ALTER TABLE [dbo].[Writing]  WITH CHECK ADD  CONSTRAINT [fkAutWriting] FOREIGN KEY([autId])
REFERENCES [dbo].[Author] ([autId])
GO
ALTER TABLE [dbo].[Writing] CHECK CONSTRAINT [fkAutWriting]
GO
ALTER TABLE [dbo].[Writing]  WITH CHECK ADD  CONSTRAINT [fkBooWriting] FOREIGN KEY([booIsbn13])
REFERENCES [dbo].[Book] ([booIsbn13])
GO
ALTER TABLE [dbo].[Writing] CHECK CONSTRAINT [fkBooWriting]
GO
USE [master]
GO
